
@font-face{
	font-family: 'font1';
	src: url('../font/font1.ttf');
}

body {
	background-image:url('../images/bg1.jpg');
}
.navbar .navbar-default  .navbar-toggle .collapsed{
	background-color: #48D1CC;

}
.navbar-nav>li>a{
	color: red;
}

.leftbar {
	margin-top:13%;
}
.mainfont {
	font-family: 'font1';
	font-size: 40px;
}
.rowback{
	padding: 10px;
	border-radius: 10px;
}
.foot{
	background-color: #337ab7;
	color: white;
	text-align: center;
	border: solid white 1px;
	position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0 auto;
}
.heading{
		font-family: 'font1';
	font-size: 30px;
}
.roundcls{
	background-color: #48D1CC;
	margin-top:10px; 
	padding:5px;
}
.fleft{
	text-align: center;
}
.phead {
	background-color: #337ab7;
	text-align: center;
	padding: 10px;
	font-family:'font1';
	font-size: 36px;
	color: #CEF6F5;
	border-radius: 10px;
	border: solid green 1px;
}

.panel-body{
       
       width:auto;
}

.error{
	background: red;
	color: white;
	opacity: 0.7;
	padding: 10px;
	border: solid white 3px;
	border-radius: 5px;
	text-align: center;
}
